{% extends 'base.html' %}
{% load static %}
<script src="{% static 'js/single_file.js' %}"></script>

{% block content %}
    <div class="container">
        <div class="card" style="margin-top: 50px;">
            <h5 class="card-header" style="font-size: x-large">File - {{ file.filename }} <a class="small" href="{{ file.file.url }}"><u>Link</u></a></h5>
            <div class="card-body">
                <h5 class="card-title">Category: <strong class="old-category">{{ file.category }}</strong></h5>
                <footer class="blockquote-footer">Uploaded at <cite title="Source Title">{{ file.uploaded_at }}</cite>
                </footer>
            </div>
            <div class="card-footer">
                <div class="buttons float-right">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#changeCategory">
                        Change
                        Category
                    </button>
                    <button type="button" class="btn btn-danger delete-file">Delete File</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="changeCategory" tabindex="-1" role="dialog" aria-labelledby="changeCategoryLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="changeCategoryLabel">Select new category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-check">
                        <input class="category-change-input" type="radio" name="categoryChangeRadios" id="categoryChangeRadios1"
                               value="Financial Document">
                        <label class="category-change-label" for="categoryChangeRadios1">
                            Financial Document
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="category-change-input" type="radio" name="categoryChangeRadios" id="categoryChangeRadios2"
                               value="Marketing Document">
                        <label class="category-change-label" for="categoryChangeRadios2">
                            Marketing Document
                        </label>
                    </div>
                    <div class="form-check disabled">
                        <input class="category-change-input" type="radio" name="categoryChangeRadios" id="categoryChangeRadios3"
                               value="Technical Document">
                        <label class="category-change-label" for="categoryChangeRadios3">
                            Technical Document
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary save-category" disabled>Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
